html {
	scroll-behavior: smooth;
}

body {
	background-color: #f2f2f2;
	max-width: 100%;
}


h1 {
	font-family: 'Quicksand', sans-serif;
	color: #001a33;
	text-align: center;
	height: 2em;
	top: 0;
	width: 100%;
	background-color: #f2f2f2;
	position: fixed;
	font-size: 2.8125em;
	margin: 0;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color: #001a33;
	margin-top: 3%;
	margin-bottom: 0%;
	font-size: 1.875em;
}

#menu {
	width: 100%;
	padding-left: 20%;
	top: 0;
	margin-top: 4em;
	position: fixed;
	list-style-type: none;
	overflow: hidden;
	background-color: #d9b3ff;
	margin-bottom: 0;
	text-align: center;
}

li {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	float: left;
	padding: 1em;
	font-size: 1.0625em;
	cursor: pointer;
}

li a {
	display: inline;
	color: white;
	padding: 1em;
	text-decoration: none;
}

li a:hover {
	padding: 1em;
	background-color: #993366;
}

#intro {
	font-family: 'Varela Round', sans-serif;
	color: #001a33;
	width: auto;
	margin-top: 100px;
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 5.625em;
	padding-right: 0.625em;
	text-align: justify;
	margin-bottom: 0;
	display: block;
	border-bottom-color:  #993366;
	border-bottom-style: dashed;
	border-bottom-width: 0.0625em;
	padding-bottom: 3%;
}

#intro p{
	font-size: 1.1em;
}

#tasti{
	display: block;
	top: 0%;
	bottom: 0%;
	float: left;
	width: 10%;
	margin-top: 21%;
}

.tasti {
	font-family: 'Varela Round', sans-serif;
	width: 4.375em;
	border: none;
	font-size: 0.9375em;
	text-align:center;
	padding: 0.5em;
	background-color: #993366;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0.625em;
	margin-top: 0.625em;
}

.tasti:hover {
	background-color: #d9b3ff;
	text-decoration: none;
}

p{
	font-family: 'Varela Round', sans-serif;
	color: #001a33;
	font-size: 1em;
	margin-left: 0.625em;
}

#cartolina_C1{
	height: 40.625em;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom-color:  #993366;
	border-bottom-style: dashed;
	border-bottom-width: 0.0625em;
	padding-bottom: 3%;
}

#cartolina_C2{
	height: 40.625em;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom-color:  #993366;
	border-bottom-style: dashed;
	border-bottom-width: 0.0625em;
	padding-bottom: 3%;
}

#cartolina_C3{
	height: 40.625em;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom-color:  #993366;
	border-bottom-style: dashed;
	border-bottom-width: 0.0625em;
	padding-bottom: 3%;
}

#fotoF{
	max-width: 37.5em;
	max-height: 31.25em;
	float: right;
	margin-top: 3%;
}

.fronte{
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 18%;
	background-color: white;
	padding: 1.25em;
	border-radius: 1.5625em;
	border-color: #993366;
	border-style: dotted;
	border-width: 0.1875em;	
}

.retro{
	float: left;
	width: 30%;
	text-align: center;
	margin-top: 5em;
	background-color: white;
	padding: 1.25em;
	border-radius: 1.5625em;
	border-color: #993366;
	border-style: dotted;
	border-width: 0.1875em;
}

#retroC1{
	display: none;
}

#mappa40{
	width: 38.4375em;
	height: 25em; 
	float: right;
	margin-top: 9%;
}

#retroC2{
	display: none;
}

#mappa50{
	width: 39.25em;
	height: 25em; 
	float: right;
	margin-top: 9%;
}

#retroC3{
	display: none;
}

#mappa223{
	width: 38.75em;
	height: 25em; 
	float: right;
	margin-top: 11%;
}

#about{
	height: 20%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 3%;
}

h3{
	font-family: 'Quicksand', sans-serif;
	color: #001a33;
	margin-top: 3%;
	margin-bottom: 0%;
}

#about1{
	float: left;
	width: 50%;
}

#about2{
	float: right;
	width: 50%;
	margin-top: 4%;
}